<%- include('template/cabecera', {tituloweb: 'Inicio EJS'}); %>
<body>
    <%- include('template/navbar'); %>
   <section class="cuerpo">
        <h2>Noticias</h2>
        <hr>
        <section class="noticiasBusqueda">
        <div  class="noticiaIndividual">
            <img src="FrontEnd/Styles/img/que-es-el-wifi-6-1592807.png" alt="Noticia1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis incidunt eius dignissimos cum, distinctio quasi sapiente amet esse nemo blanditiis harum aut omnis dolore molestiae at excepturi aperiam autem totam.</p>   
        </div>
        <div  class="noticiaIndividual">
            <img src="FrontEnd/Styles/img/que-es-el-wifi-6-1592807.png" alt="Noticia1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis incidunt eius dignissimos cum, distinctio quasi sapiente amet esse nemo blanditiis harum aut omnis dolore molestiae at excepturi aperiam autem totam.</p>   
        </div>
        <div  class="noticiaIndividual">
            <img src="FrontEnd/Styles/img/que-es-el-wifi-6-1592807.png" alt="Noticia1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis incidunt eius dignissimos cum, distinctio quasi sapiente amet esse nemo blanditiis harum aut omnis dolore molestiae at excepturi aperiam autem totam.</p>   
        </div>
        <div  class="noticiaIndividual">
            <img src="FrontEnd/Styles/img/que-es-el-wifi-6-1592807.png" alt="Noticia1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis incidunt eius dignissimos cum, distinctio quasi sapiente amet esse nemo blanditiis harum aut omnis dolore molestiae at excepturi aperiam autem totam.</p>   
        </div>
    </section> 
    <%- include('template/footer'); %>
</body>

