<%- include('template/cabecera', {titulo: 'PcMage'}); %>
<body>
    <%- include('template/navbar'); %>
    <div style="height: 9vh;"></div>
    <section>
      <div class="bg-image bg-cover d-flex justify-content-center align-items-center fondo" style="height: 40em; background-image: url('img/fondo pcmage.png');background-color: rgb(226, 203, 253); background-position: center; background-repeat:no-repeat;" >
        <div class=" align-items-center justify-content-center" style="height:100%; display: flex; flex-direction: column; ">
          <h1 class="text-white text-center" style="font-size: 15vh; -webkit-text-stroke-color: black; -webkit-text-stroke-width: 0.5vh;">PC Mage</h1>
          <a class="btn bg-dark text-white" href="/configurador">CONFIGURADOR</a>
        </div>  
      </div>
    </section>
    
    

    <div class="container-fluid" style="background-color: #1f1f1f;">

      <section>
        <div class="row content">
          <div class="col-sm-1">

          </div>
          <div class="col-sm-10">
            <h1 class="text-white" style="margin-top: 1em;">Noticias</h1>
            <hr style="background-color: rgb(151, 71, 255); height: 1px; width: 56%; margin-left: 0;">
         </div>
          <div class="col-sm-1">
          </div>
        </div>
        </section>

        <section>
        <div class="row content">

          <div class="col-sm-1">
            <button class="btn" id="notAt" style="height:100%; width: 100%; display: none; background-color: rgb(151, 71, 255);"> 
              <img src="img/32x32 - invertido.png">
            </button>
          </div>

          <div class="col-sm-10">   
            <div class="card-deck text-center text-white">
              <div class="card noticias-tips" style="border: none; background-color: #353535;">
                <img class="img-fluid" src="img/Placeholder.png" style="aspect-ratio: 19/9;">
                <div class="card-body text-justify">
                  <a style="text-decoration: none;">Titulo Noticia</a>
                </div>
              </div>  
                
              <div class="card noticias-tips" style="border: none; background-color: #353535;;">
                <img class="img-fluid" src="img/Placeholder.png" style="aspect-ratio: 19/9;">
                <div class="card-body text-justify">
                  <a style="text-decoration: none;">Titulo Noticia</a>
                </div>
              </div>
      
              <div class="card noticias-tips" style="border: none; background-color: #353535;;">
                <img class="img-fluid" src="img/Placeholder.png" style="aspect-ratio: 19/9;">
                <div class="card-body text-justify">
                  <a style="text-decoration: none;">Titulo Noticia</a>
                </div>
              </div>
            </div>
            </div>
            <div class="col-sm-1">
                <button class="btn" style="height:100%; width: 100%; background-color: rgb(151, 71, 255);" id="notAd"> 
                  <img src="img/32x32.png">
                </button>
            </div>
          
          
        </div>
      </section>


      <section>
        <div class="row content">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-10"> 
            <h1 class="text-white" style="margin-top: 1em;">Pre-Builds</h1>
            <hr style="background-color: rgb(151, 71, 255); height: 1px; width: 60%; margin-left: 0;">
            <div class="card-deck text-center">
              <div class="card" style="background-color: rgb(226, 203, 253);">
                  <img class="img-fluid" src="img/low.jpeg" alt="Low" style="aspect-ratio: 19/9;">
                  <div class="card-body">
                      <a href="/prebuilds/low" class="btn btn-dark btn-floating mx-1">Low</a>
                  </div>
              </div>
                
              <div class="card" style="background-color: rgb(226, 203, 253);">
                <img class="img-fluid" src="img/mid.jfif" alt="Mid" style="aspect-ratio: 19/9;">
                <div class="card-body">
                    <a href="/prebuilds/mid" class="btn btn-dark">Mid</a>
                </div>
              </div>
      
              <div class="card" style="background-color: rgb(226, 203, 253);">
                <img class="img-fluid" src="img/high.webp" alt="High" style="aspect-ratio: 19/9;">
                <div class="card-body">
                  <a href="/prebuilds/high" class="btn btn-dark btn-floating mx-1">High</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1">
          </div>
        </div>
      </section>
      

      <section>
        <div class="row content">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-10 text-center"> 
            <h1 class="text-white text-left" style="margin-top: 1em;">Tips</h1>
            <hr style="background-color: rgb(151, 71, 255); height: 1px; width: 60%; margin-left: 0;">
            <h3 class="text-white text-justify" style="margin-top: 1vh;">Dele click al boton de abajo para obtener un tip aleatorio: </h3>
            <input type="button" value="Tip aleatorio" class="btn btn-dark" id="botonTips">
            <div class="text-black text-center" style="margin:auto; background-color: rgb(226, 203, 253); margin-top: 2vh; border: 3px double rgb(151, 71, 255); margin-bottom: 2vh; width: 50%;">
              <p id="tipText"></p>
            </div>
          </div>
          <div class="col-sm-1">
          </div>
        </div>
      </div>
      </section>

    
    <%- include('template/footer'); %>
    <script src="pagPriScript.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    
</body>

