<%- include('template/cabecera', {titulo: 'PcMage - Sobre Nosotros'}); %>
<body> 
    <%- include('template/navbar'); %>
    <section>
        <h1 class="titS" style="font-size: 90px; margin-top: 5%;">Sobre Nosotros</h1>
        <p class="sobrenosotros">Somos estudiantes de la Escuela Técnica N°36 "Almirante Guillermo Brown", del curso 5°3° de la especialidad de informática haciendo una página web para la materia proyecto informático II</p>
        
        <p class="sobrenosotros">Los integrantes somos:</p>
    </section>
    <section class="cuerpo" style="display: flex; flex-direction: row; padding-top: 5em; padding-bottom: 5em; padding: 2em;">
        
        <div class="prebuild">
            <img src="\img\Placeholder.png" alt="prebuild1" class="prebuildft" >
            <a href="https://instagram.com/ocin_v2" class="btn btn-dark" target="_blank">Nicolás</a>
        </div>
        <div class="prebuild">
            <img src="\img\Placeholder.png" alt="prebuild2" class="prebuildft">
            <a href="https://instagram.com/_unlucky71" class="btn btn-dark" target="_blank">Agustín</a>
        </div>
        <div class="prebuild">
            <img src="\img\Placeholder.png" alt="prebuild3" class="prebuildft">
            <a href="https://instagram.com/hosu_e_" class="btn btn-dark" target="_blank">Josué</a>
        </div>
        <div class="prebuild">
            <img src="\img\Placeholder.png" alt="prebuild3" class="prebuildft">
            <a href="https://instagram.com/jua_manue" class="btn btn-dark" target="_blank">Juan</a>
        </div>
        <div class="prebuild">
            <img src="\img\Placeholder.png" alt="prebuild3" class="prebuildft">
            <a href="https://instagram.com/alm.iago" class="btn btn-dark" target="_blank">Iago</a>
        </div>
    </section>
    <%- include('template/footer'); %>

</body>