<!DOCTYPE html>
<html lang="es">
    <head>
        <title><%= titulo %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="\img\witch-ico.ico">
        <link rel="stylesheet" href="/styles.css">
    </head>