<div class="col-sm-3 d-flex-column" style="border: 3px rgb(151, 71, 255);">
    <img src="" class="img-fluid" style="aspect-ratio: 1/1; height: auto; width: 8em;" name="imagenComp">
</div>
<div class="col-sm-6 d-flex-column" style="border: 3px rgb(151, 71, 255); margin: auto;">
    <a style="text-decoration: none;" name="linkComp"><p name="nombreComp"></p></a>
</div>
<div class="col-sm-3 d-flex-column" style="border: 3px rgb(151, 71, 255); margin: auto;">
    <p name="precioComp"></p>
</div>