<header>
    <nav class="menu-container">
        <input type="checkbox" aria-label="Toggle menu" />
        <span></span>
        <span></span>
        <span></span>
        <a href="/" class="menu-logo">
            <img src= "FrontEnd/Styles/img/witch-hat 3.png" alt="My Awesome Website"/>
        </a>
        <div class="menu">
            <ul>
               
            </ul>
            <ul>
                 <li>
                    <a href="/configurador">
                    Configurador
                    </a>
                </li>
                <li>
                    <a href="/sobrenos">
                    Sobre nosotros
                    </a>
                </li>
            <li>
                <a href="/buscar">
                Buscar <img src="FrontEnd/Styles/img/icons8-lupa-250.png" style="max-width: 25px;;">
                </a>
            </li>
            </ul>
        </div>
    </nav>
</header>