<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark  bg-dark" style="min-height: 9vh;box-shadow: 2px 12px 15px #636363; background-image: linear-gradient(#9013fe, #ab4dfd ); ">
    <a class="navbar-brand" href="/"><img src="img/witch-hat 3.png" style="height:5vh"></a>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon" ></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="/configurador">Configurador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/sobrenos">Sobre Nosotros</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar Noticia...">
            <a class="btn btn-light">Buscar</a>
      </form>
    </div>
  </nav>
</header>
