
  .menu-container {
    position: relative;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#9013fe, #ab4dfd );
    color: #ffffff;
    box-shadow: 2px 12px 15px #636363;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
  }
  
  .menu-logo {
    line-height: 0;
    margin: 0 20px;
  }
  
  .menu-logo img {
    max-height: 60PX;
    flex-shrink: 0;
  }
  
  .menu-container a {
    text-decoration: none;
    color: #9013fe;
    transition: color 0.3s ease;
  }
  
  .menu-container a:hover {
    color: #610eaa;
  }
  
  .menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  
  /* Burger menu */
  .menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  .menu-container span:first-child {
    transform-origin: 0% 0%;
  }
  
  .menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
  }
  
  .menu-container input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(3px,-1px);
    background: #9013fe;
  }
  
  .menu-container input:checked ~ span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .menu-container input:checked ~ span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px,11px);
  }
  
  .menu ul {
    list-style: none;
  }
  
  .menu li {
    font-size: 30px;
    margin-left: 73px;
  }
  
  /* mobile styles */
@media only screen and (max-width: 767px) { 
    .menu-container {
      flex-direction: column;
      align-items: flex-end;
    }
    
    .menu-logo {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .menu-logo img {
      max-height: 30px;
    }
  
    .menu {
      position: relative;
      box-sizing: border-box;
      width: 300px;
   
      margin: -20px;
     
      background: #ffffff;
      /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transform: translateX(100%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
  
    .menu-container input:checked ~ .menu {
      transform: translateX(0%);
    }
  }
  
  /* desktop styles */
  @media only screen and (min-width: 768px) { 
    .menu-container {
      width: 100%;
    }
  
    .menu-container a {
      color: #ffffff;
    }
  
    .menu-container input {
      display: none;
    }
  
    /* Burger menu */
    .menu-container span {
      display: none;
    }
  
    .menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .menu ul {
      display: flex;
      padding: 0;
    }
  
    .menu li {
      padding: 0 20px;
    }
  }
  

footer > div{
    flex-direction: row;
    background-color: rgb(151, 71, 255);
    height: 3%;
    align-items: baseline;
    padding: 3%;
    margin-top: 15%;
}

body {
    background-color: rgb(226, 203, 253);
    margin: 0;
    font-family: Helvetica;
    overflow-x: hidden;
}
.navegador{
    color: white;
}

.titulo{
    
    position: relative;
    text-align: center;
    flex-direction: column;
}
.titulo > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-shadow: 10px 10px 8px #000000;;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:200px;
    margin-bottom: 4%;
    margin-top:40%;
}

p{
    text-align: center;
    color: rgb(180, 180, 180);
    font-size: 35px;
    
}

h2{
    color: white;
    padding-left: 7%;
    padding-top: 5%;
    margin: 0;
    font-size: 50px;
}
hr {
    border: 1px solid rgb(151, 71, 255);
    margin-left: 4%;
    margin-right: 40%;
    margin-bottom: 2%;
    
}

input{
    background: #000000;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Helvetica;
    color: #ffffff;
    font-size: 26px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
input:hover{
  transform: scale(1.05);
}

.noticias-tips{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.noticias-tips > img{
    width: 85%;
    aspect-ratio: 19/9;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-color: gainsboro;
    border-radius: 5px;
}

.prebuild{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(226, 203, 253) ;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    float: left;
    transition: all .2s;
    
}
.prebuild:hover {
  box-shadow: 2px 12px 15px #000000;
  transform: translateY(-5px);
}
.prebuild > img{
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    max-width: 90%;

}
.prebuild > input{
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    margin-bottom: 5% ;
}


.cuerpo {
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
}
.cuerpo > section{
  margin-left: auto;
  margin-right: auto;
    display: flex;
    max-width: 95%;
}