.icono{
    width: 35px;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(151, 71, 255);
    height: 5%;
    align-items: baseline;
}

body {
    background-color: rgb(226, 203, 253);
}
.navegador{
    color: white;
    font-family: Helvetica;
}

.titulo{
    
    position: relative;
    text-align: center;
    flex-direction: column;
}
.titulo > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;
    color: black;
    font-family: Helvetica;
    font-size:100px;
}

p{
    text-align: center;
    color: rgb(180, 180, 180);
    font-family: Helvetica;

}

h2{
    text-align: left;
    color: white;
    font-family: Helvetica;
    padding-left: 5%;
    padding-top: 5%;
}
hr {
    border: 2px solid rgb(151, 71, 255);
    margin-left: 5%;
    margin-right: 5%;
}


.noticias-tips{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
}
.noticias-tips > img{
    width: 85%;
    aspect-ratio: 4/3;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-color: gainsboro;
    border-radius: 5px;
}

.prebuild{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(226, 203, 253) ;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    
}
.prebuild > img{
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    max-width: 90%;

}
.prebuild > input{
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}


.cuerpo {
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    

}
.cuerpo > section{
    padding-top: 1%;
    display: flex;
    
    
}